/* Mobile Stylesheet */
/* Don't know what this is? see http://alistapart.com/articles/pocket/ */

															/** BODY ELEMENTS **/
body {
	text-align: left;
	}






															/** MAIN CONTAINERS **/
div#container {
	width: 100%;
	padding: 5px;
	}






															/** SUB CONTAINERS **/
* { }






															/** LISTS **/
* { }






															/** TYPOGRAPHY **/
* { }






															/** FORMS **/
* { }






															/** END **/